*.class
*test-output
\test-output
*.swp
*.orig
\.classpath
**\target\classes\**
**/*_REMOTE_*.groovy
**/*_BACKUP_*.groovy
**/*_BASE_*.groovy
**/log.properties
*\.gitignore
automationCoolTesters\target\classes\.gitignore
